<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818072617948-sop8ird19ef576cefpgsssbiqekr6ar5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818072617948-sop8ird19ef576cefpgsssbiqekr6ar5</string>
	<key>API_KEY</key>
	<string>AIzaSyBzk8y7kV4WDr87RfjDlWxT1CrIRuERxyc</string>
	<key>GCM_SENDER_ID</key>
	<string>818072617948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flourWaterSaltYeast</string>
	<key>PROJECT_ID</key>
	<string>flour-water-salt-yeast</string>
	<key>STORAGE_BUCKET</key>
	<string>flour-water-salt-yeast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818072617948:ios:a45d8304b98e146444c519</string>
	<key>DATABASE_URL</key>
	<string>https://flour-water-salt-yeast.firebaseio.com</string>
</dict>
</plist>